/* -------footer------- */
.container {
    max-width: 100%;
  }
  .container div {
    margin-bottom: 10px;
  }
  
  .flecha {
    display: flex;
    justify-content: end;
  }
  
  .containerp {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #547173;
    padding: 10px;
  }
  
  .futer{
    display: flex;
    margin-left: 20px;
    justify-content: flex-start;
  }
  
  .containerSub {
    color: #fff;
    display: flex;
    justify-content: center;
    margin: 0;
  }
  
  .fab {
    font-size: 3.5vw;
    color: #fff;
    width: 5%;
    display: flex;
    justify-items:flex-start;
}

  .fab:hover {
    transform: translateY(-8px) scale(1.2);
    transition: all 0.3s;
  }
  
  .fa-envelope:hover {
    color: #0c1d68;
    transform: translateY(-8px) scale(1.4);
    transition: all 0.3s;
  }
  
  .fa-map-marker-alt:hover {
    color: #1a680c;
    transform: translateY(-8px) scale(1.4);
    transition: all 0.3s;
  }
  
  .fa-phone:hover {
    color: #0c5168;
    transform: translateY(-8px) scale(1.4);
    transition: all 0.3s;
  }
  
  .instagram:hover {
    color: #e120e4!important;
  }
  
  .facebook:hover {
    color: #0c2698!important;
  }
  
  .whatsapp:hover {
    color: #35b81e!important;
  }
  
  .flecha1 {
    font-size: 3vw;
    padding-right: 20px;
    color: #fff;
    display: flex;
    justify-content: end;
  }
  .flecha1:hover {
    color: rgb(200, 2, 2);
    transform: translateY(-4px) scale(1.2);
    transition: all 0.5s;
  }